body{
    margin: 0px;
}
.cabecalho {
    background: linear-gradient(359deg, #0043ff, #cbccdb);
    padding: 15px;
}

.menu{
     display: flex;
     justify-content: center;
}

.menu a {
    text-decoration: none;
    font-weight: bold;
    color: orange;
    margin-right: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 1px solid black;
    padding: 7px;
    margin-top: 15px;
